.register-header {
  font-weight: 80;
  font-size: 40px;
  letter-spacing: 22px;
}

.container {
  padding: 20px;
}

.btn {
  width: 40%;
  margin-top: 10px;
}

.form-label {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
  font-size: 12px;
}

.form-control {
  background-color: white !important;
  border-radius: 10px !important;
}

.form-control:focus {
  border: 0.1px solid black;
  border-color: black !important;
}
